# Ignore everything by default
*

# Unignore directories to allow further overrides
!*/

# Except source code files
!**/*.c
!**/*.h
!**/*.cpp
!**/*.hpp

# Except the .gitignore file itself
!.gitignore

# Include the makefile
!makefile